extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li(style="margin-top:15px;")
                a(href="/details/#{user._id}")= user.username
                <br>
                if user.userimg == undefined
                    img(src="uploads/dummy_media.png" width="110px")
                else
                    img(src="uploads/#{user.userimg}" width="120px")
                br
                a(href="mailto:#{user.email}")= user.email
                <br>
                button( data-toggle="modal" data-target="#myModal" onclick="deleteUser('#{user._id}','#{user.username}')") Delete
                &nbsp;&nbsp;&nbsp;
                a(href="/updateuser/#{user._id}") Update
    #myModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Modal Header
                .modal-body
                    form#formAddUserImage()
                        div(id="deleteMessage")
                        <br />
                        button.btn.btn-default(type='submit')
                            a(id="delete_user" href="") Submit
                        button.btn.btn-default(type='submit') Cancel
    script.
        function deleteUser(id,name){
            $("#delete_user").prop("href","");
            $("#delete_user").prop("href","delete/"+id);
            $("#deleteMessage").text("Do you want to delete "+name)
        }